<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Certify - Verifiziere dein Schul- und Abschlusszeugnissen </title>

    <!-- Bootstrap core CSS -->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:rel="stylesheet" th:href="@{/css/certify.css}" rel="stylesheet"/>
    <!-- <link href="../static/css/certify.css" rel="stylesheet"> -->
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</head>
<body>


<div th:fragment="modals">
    <!-- Settings Modal -->
    <div sec:authorize="isAuthenticated()">
        <div id="user" class="modal fade show" style="display: none;" aria-modal="true">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                             height="60" fill="currentColor" class="text-primary bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                        </svg>
                                        <h4 class="modal-title">Member Login</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row text-center">
                                <a href="new" class="btn btn-info">Neues Zeugnis hinzufügen</a>
                            </div>
                            <div class="row text-center">
                                <a onclick="openPwChangeDialog()" class="btn btn-info">Passwort ändern</a>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const popcorn = document.querySelector('#user-icon');
        const tooltip = document.querySelector('#user');
        //Popper.createPopper(popcorn, tooltip, {
        //    placement: 'down',
        //});
    </script>
</div>

<div th:fragment="navbar">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top">
                <img th:src="@{/img/Certify_Logo_round.svg}" style="width: 2em;"/>
                <span>Certify</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#verify">Verify</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#technique">Technik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <!-- User is not logged in -->
                        <a sec:authorize="isAnonymous()" href="/login">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#18BC9C"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                        <a sec:authorize="isAuthenticated()" id="user-icon" href="#user" data-toggle="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#E74C3C"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<footer th:fragment="footer" class="py-5 bg-primary">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Certify 2021 </p>
        </p>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/certify.js}"></script>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>

</footer>

<header th:fragment="headerContent" class="text-white bg-primary text-black">
    <div th:insert="fragments/general.html :: modals"></div>
    <div class="container text-center">
        <h1>Willkommen bei Certify</h1>
        <p class="lead">Eine Technische möglichkeit Schul- und Abschlusszeugnisse zu Verifizieren</p>
    </div>
</header>


</body>
</html>
