<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: head"></head>


<body id="page-top">

<!-- Navigation -->
<div th:insert="fragments/general.html :: navbar"></div>
<div th:insert="fragments/general.html :: headerContent"></div>


<section id="verify">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Verifiziere dein Zeugnis</h2>
                <p class="lead">Folge der Schritt für Schritt Anweisung</p>
                <ul>
                    <li>Scanne den QR-Code auf dem Dokument</li>
                    <li>Starte die Überprüfung</li>
                    <li>Du siehst alle Daten auf der Webseite. Und du kannst sie abgleichen</li>
                    <li>Wird der Hintergrund bei der Überprüfung grün, stimmt alles</li>
                    <li>Wird der Hintergrund nicht grün, ist irgendetwas falsch.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="technique" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Wie funktioniert die Verifizierung</h2>
                <p class="lead">Einfach erklärt</p>
                <p>Für die Verifizierung muss die Organisation, die dir das Zeugnis ausgestellt hat, dieses hier zuerst
                    Registrieren. Auf deinem Zeugnis sollte ein QR-Code und ein VerifyToken zu sehen sein.</p>
                <p>Bei der Registrierung des Zeugnisses wird von den Daten, in dem Zeugnis eine <a
                        href="https://de.wikipedia.org/wiki/Hashfunktion">Prüfsummen</a> (sha512)
                    gebildet. Diese wird mit dem VerifyToken im Backend gespeichert.</p>
                <p>Es wird nicht das gesamte Zeugnis gespeichert, sondern nur diese Prüfsummen und das Token. Bei der
                    Verifizierung wird derselbe Algorithmus verwendet und es wird nur die Hash Summe abgeglichen.</p>
                <p>Im QR-Code werden die Zeugnisinforationen über Fächer und Noten gespeichert und beim Scannen an die
                    Webseite übermittelt (aber nicht gespeichert).</p>
                <p>Dies ist vergleichbar mit dem Manuellen eintragen aller Noten, nur das der QR-Code schneller ist und
                    keine Fehler beim Abtippen auftreten.</p>
                <p>Der Anspruch dieser App ist es dabei nicht die Fehler die ein "Normales" Zeugnis hat zu eliminieren.
                    Sondern den Beglaubigungsprozess bei Behörden zu vereinfachen. Möglichkeiten diese Verifizierung zu
                    umgehen sind hier beschrieben. Allerdings ist die Ausführung um einiges aufwendiger. </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Über uns und Kontakte</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem
                    dolor,
                    provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
                    exercitationem, in, quo totam.</p>
                <p>TODO: Kontakt etc.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:insert="fragments/general.html :: footer"></div>

</body>

</html>