<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: head"></head>
<body id="page-top">

<div th:insert="fragments/general.html :: navbar"></div>
<div th:insert="fragments/general.html :: headerContent"></div>


<section id="new">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name:</span>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Name" aria-label="name"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Organisation:</span>
                    </div>
                    <input type="text" class="form-control" id="organisation" placeholder="Organisation"
                           aria-label="organisation" aria-describedby="basic-addon1">
                </div>

            </div>
            <div class="col text-right">
                <p>QR Code & VerifyToken Generieren</p>
                <button type="button" onclick="generate()" class="btn btn-secondary btn-verify">Generate</button>
            </div>
        </div>

        <div id="verify-text" class="text-center collapse">
            <h2>VerifyToken: <span id="verify-token"></span></h2>
            <div id="qr-code"></div>


        </div>


        <h3>Noten:</h3>
        <table id="table" class="table">
            <thead>
            <tr>
                <th scope="col">Fach</th>
                <th scope="col">Note</th>
                <th scope="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="Fach"></td>
                <td><input type="text" class="form-control" placeholder="Note" aria-label="Note"
                           aria-describedby="basic-addon1"></td>
                <td>
                    <button onclick="newLine()" class="btn btn-secondary text-white add">+</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h4>Freitext:</h4>
        <textarea type="text" class="form-control" id="text" aria-describedby="basic-addon1"></textarea>
    </div>
</section>

<!-- Footer -->
<div th:insert="fragments/general.html :: footer"></div>


</body>

</html>